{% assign t = template | split: '.' | first  %}
<nav class="breadcrumb-nav small--text-center{% if template.name == blank %} breadcrumb-nav--no-template{% endif %}" aria-label="{{ 'general.breadcrumbs.you_are_here' | t }}">
  <span itemscope itemtype="http://data-vocabulary.org/Breadcrumb">
    <a href="/" itemprop="url" title="{{ 'general.breadcrumbs.home_link_title' | t }}">
      <span class="p" itemprop="title">{{ 'general.breadcrumbs.home' | t }}</span>
    </a>
    <span class="breadcrumb-nav__separator" aria-hidden="true">›</span>
  </span>
  {% case t %}
  {% when 'collection' %}
    {% if current_tags %}
      <span itemscope itemtype="http://data-vocabulary.org/Breadcrumb">
        {% assign collection_url = current_tags.first | link_to_remove_tag: current_tags.first | split: 'href="' | last | split: '"' | first %}
        <a href="{{ collection_url }}" itemprop="url">
          <span class="p" itemprop="title">{{ collection.title }}</span>
        </a>
        <span class="breadcrumb-nav__separator" aria-hidden="true">›</span>
      </span>
      {{ current_tags.first }}
    {% else %}
      <span class="p">{{ collection.title }}</span>
    {% endif %}
  {% when 'product' %}
    {% if collection %}
      <span itemscope itemtype="http://data-vocabulary.org/Breadcrumb">
        <a href="{{ collection.url }}" itemprop="url">
          <span class="p" itemprop="title">{{ collection.title }}</span>
        </a>
        <span class="breadcrumb-nav__separator" aria-hidden="true">›</span>
      </span>
    {% endif %}
    <span class="p">{{ product.title }}</span>
  {% when 'blog' %}
    {% if current_tags %}
      <span itemscope itemtype="http://data-vocabulary.org/Breadcrumb">
        <a href="{{ blog.url }}" itemprop="url">
          <span class="p" itemprop="title">{{ blog.title }}</span>
        </a>
        <span class="breadcrumb-nav__separator" aria-hidden="true">›</span>
      </span>
      {{ current_tags.first }}
    {% else %}
      <span class="p">{{ blog.title }}</span>
    {% endif %}
  {% when 'article' %}
    <span itemscope itemtype="http://data-vocabulary.org/Breadcrumb">
      <a href="{{ blog.url }}" itemprop="url">
        <span class="p" itemprop="title">{{ blog.title }}</span>
      </a>
      <span class="breadcrumb-nav__separator" aria-hidden="true">›</span>
    </span>
    <span class="p">{{ article.title }}</span>
  {% when 'page' %}
    <span class="p">{{ page.title }}</span>
  {% else %}
    <span class="p">{{ page_title }}</span>
  {% endcase %}
</nav>
