<div class="section services-slider">
    <div class="sliders">
        <div class="left-sliders">
            <div class="services-title-slider phase-1">
                {% for article in blogs.service.articles %}
                    <h1 class="bold">{{ article.title }}</h1>
                {% endfor %}
            </div>
            <div class="services-main-slider">
                {% for article in blogs.service.articles %}
                    <div class="background-image" style="background-image: url('{{ article.image.src | img_url: '500x' }}');"></div>
                {% endfor %}
            </div>
            <div class="services-info-slider">
                {% for article in blogs.service.articles %}
                    <div>
                        <p>{{ article.content }}</p>
                        <!-- must parse through menu articles to capture types and display -->
                        <p class="bold"> +haircut </p>
                    </div>
                {% endfor %}
            </div>
            {% include 'learn-container' %}
        </div>
        <div class="right-slider-and-tools">
            <div class="services-secondary-slider-container">
                <div class="services-secondary-slider">
                    {% for article in blogs.service.articles %}
                        {% if forloop.index != 1 %}
                            <div class="background-image" style="background-image: url('{{ article.image.src | img_url: '500x' }}');"></div>
                        {% endif %}
                    {% endfor %}
                    <div class="background-image" style="background-image: url('{{ blogs.service.articles[0].image.src | img_url: '500x' }}');"></div>
                </div>
                <div class="arrows">
                    <div class="arrow arrow-left" onclick="slickServicesPrev()">
                        {% include 'svg-arrow-left' %}
                    </div>  
                    <div class="arrow arrow-right" onclick="slickServicesNext()">
                        {% include 'svg-arrow-right' %}
                    </div>  
                </div>
            </div>
            <div class="slider-nav">
                {% for article in blogs.service.articles %}
                    <p class="{% if forloop.index == 1 %} selected {% endif %}" data-index="{{forloop.index0}}">{{ article.title }}</p>
                    <div class="mobile-nav {% if forloop.index == 1 %} selected {% endif %}" data-index="{{forloop.index0}}">&#9900;</div>
                {% endfor %}    
            </div>
        </div>
    </div>
</div>


<script>

    function switchButtons( direction ){
        var activePrice = $('.learn-prices > a.active');
        var activeTeam = $('.learn-people > a.active');
        var activeGallery = $('.learn-gallery > a.active');
        
        if ( direction == "next" ){
            var nextPrice = activePrice.next('a');
            var nextTeam = activeTeam.next('a');
            var nextGallery = activeGallery.next('a');

            if ( nextPrice.length == 0 ){
                nextPrice = $('.learn-prices > a:first');
                nextTeam = $('.learn-people > a:first');
                nextGallery = $('.learn-gallery > a:first');
            }
        }
        else {
            var nextPrice = activePrice.prev('a');
            var nextTeam = activeTeam.prev('a');
            var nextGallery = activeGallery.prev('a');

            if ( nextPrice.length == 0 ){
                nextPrice = $('.learn-prices > a:last');
                nextTeam = $('.learn-people > a:last');
                nextGallery = $('.learn-gallery > a:last');
            } 
        }

        activePrice.removeClass("active");
        activeTeam.removeClass("active");
        activeGallery.removeClass("active");

        nextPrice.addClass("active");
        nextTeam.addClass("active");
        nextGallery.addClass("active");
    }
    
    function nextTitle() {
        var slider = $('.services-title-slider');
        if ( slider.hasClass("phase-1") ){
            slider.removeClass("phase-1");
            slider.addClass("phase-2");
        }
        else if ( slider.hasClass("phase-2") ){
            slider.removeClass("phase-2");
            slider.addClass("phase-3");
        }
        else if ( slider.hasClass("phase-3") ){
            slider.removeClass("phase-3");
            slider.addClass("phase-4");
        }
        else if ( slider.hasClass("phase-4") ){
            slider.removeClass("phase-4");
            slider.addClass("phase-5");
        }
        else if ( slider.hasClass("phase-5") ){
            slider.removeClass("phase-5");
            slider.addClass("phase-1");
        }
    }

    function prevTitle() {
        var slider = $('.services-title-slider');
        if ( slider.hasClass("phase-1") ){
            slider.removeClass("phase-1");
            slider.addClass("phase-5");
        }
        else if ( slider.hasClass("phase-2") ){
            slider.removeClass("phase-2");
            slider.addClass("phase-1");
        }
        else if ( slider.hasClass("phase-3") ){
            slider.removeClass("phase-3");
            slider.addClass("phase-2");
        }
        else if ( slider.hasClass("phase-4") ){
            slider.removeClass("phase-4");
            slider.addClass("phase-3");
        }
        else if ( slider.hasClass("phase-5") ){
            slider.removeClass("phase-5");
            slider.addClass("phase-4");
        }
    }


    $(document).ready(function(){
      $('.services-main-slider').slick({
          arrows: false/*,
          autoplay: true,
          autoplaySpeed: 2000*/
      });
    });

    $(document).ready(function(){
      $('.services-secondary-slider').slick({
          arrows: false/*,
          autoplay: true,
          autoplaySpeed: 2000*/
      });
    });

    $(document).ready(function(){
      $('.services-info-slider').slick({
          arrows: false/*,
          autoplay: true,
          autoplaySpeed: 2000*/
      });
    });

    function slickServicesPrev() {
        $('.services-main-slider').slick("slickPrev");
        $('.services-secondary-slider').slick("slickPrev");
        prevTitle();
        switchButtons( "prev" );
        $('.services-info-slider').slick("slickPrev");
        changeNav();
    }

    function slickServicesNext() {
        $('.services-main-slider').slick("slickNext");
        $('.services-secondary-slider').slick("slickNext");
        nextTitle();
        switchButtons( "next" );
        $('.services-info-slider').slick("slickNext");
        changeNav();
    }

    function changeNav(){
        var currentSlide = $('.services-main-slider').slick('slickCurrentSlide');
        $('.slider-nav p, .slider-nav .mobile-nav').removeClass("selected");
        var navTitles = $('.slider-nav p');
        var navBullets = $('.slider-nav .mobile-nav');
        $(navTitles[currentSlide]).addClass("selected");
        $(navBullets[currentSlide]).addClass("selected");
    }
</script>