<div data-section-id="{{ section.id }}" data-section-type="sidebar-section">
  <nav class="side-bar" role="navigation">
  {% comment %}
    <button id="ToggleMobileMenu" class="mobile-menu-icon medium-up--hide" aria-haspopup="true" aria-owns="SiteNav">
      <span class="line"></span>
      <span class="line"></span>
      <span class="line"></span>
      <span class="line"></span>
      <span class="icon__fallback-text">{{ 'layout.navigation.menu' | t }}</span>
    </button>
  {% endcomment %}
    <div id="SiteNav" class="side-bar-inner" role="menu">
      <ul class="list--nav">
        {% for link in menus[section.settings.main_menu_link_list].links %}
          {% assign outer_index = forloop.index %}
          {% if link.links != blank %}
            {% assign has_active_link = false %}

            {% if link.active or link.child_active %}
              {% assign has_active_link = true %}
            {% endif %}

            <li class="site-nav--has-submenu site-nav__item">
              <button class="site-nav__link btn--link{% if has_active_link %} site-nav__collapse{% else %} site-nav__expand{% endif %}" aria-expanded="{{ has_active_link }}" aria-controls="Collapsible-{{ forloop.index }}">
                {{ link.title | escape }}!
                <span class="site-nav__link__text" aria-hidden="true">{% if has_active_link %}-{% else %}+{% endif %}</span>
              </button>
              <ul id="Collapsible-{{ forloop.index }}" class="site-nav__submenu{% if has_active_link %} site-nav__submenu--expanded{% else %} site-nav__submenu--collapsed{% endif %}" aria-hidden="{% if has_active_link %}false{% else %}true{% endif %}"{% unless has_active_link %} style="display: none;"{% endunless %}>
                {% for childlink in link.links %}
                  {% if childlink.links != blank %}
                    {% assign has_active_childlink = false %}

                    {% if childlink.active or childlink.child_active %}
                      {% assign has_active_childlink = true %}
                    {% endif %}

                    <li class="site-nav--has-submenu">
                      <button class="site-nav__link btn--link{% if has_active_childlink %} site-nav__collapse{% else %} site-nav__expand{% endif %}" aria-expanded="{{ has_active_childlink }}" aria-controls="Collapsible-{{ outer_index }}-{{ forloop.index }}">
                        {{ childlink.title | escape }}
                        <span class="site-nav__link__text" aria-hidden="true">{% if has_active_childlink %}-{% else %}+{% endif %}</span>
                      </button>
                      <ul id="Collapsible-{{ outer_index }}-{{ forloop.index }}" class="site-nav__submenu site-nav__submenu--grandchild{% if has_active_childlink %} site-nav__submenu--expanded{% else %} site-nav__submenu--collapsed{% endif %}" aria-hidden="{% if has_active_childlink %}false{% else %}true{% endif %}"{% unless has_active_childlink %} style="display: none;"{% endunless %}>
                        {% for grandchildlink in childlink.links %}
                          <li class="site-nav__grandchild{% if grandchildlink.active or collection.current_type == grandchildlink.title or collection.current_vendor == grandchildlink.title %}{% unless forloop.first and grandchildlink.title contains 'All' and current_tags.size > 0 %} active{% endunless %}{% endif %}">
                            <a href="{{ grandchildlink.url }}" class="site-nav__link p"{% if grandchildlink.active %} aria-current="page"{% endif %}>{{ grandchildlink.title | escape }}</a>
                          </li>
                        {% endfor %}
                      </ul>
                    </li>
                  {% else %}
                    <li {% if childlink.active %}class="active"{% endif %}>
                      <a href="{{ childlink.url }}" class="site-nav__link p"{% if childlink.active %} aria-current="page"{% endif %}>{{ childlink.title | escape }}</a>
                    </li>
                  {% endif %}
                {% endfor %}
              </ul>
            </li>
          {% else %}
            <li class="site-nav__item{% if link.active %} active{% endif %} {% if template.name == 'list-collections' and link.title == 'Shop All' %} active {% endif %}">
              <a href="{{ link.url }}" class="site-nav__link p"{% if link.active %} aria-current="page"{% endif %}>{{ link.title | escape }}</a>
            </li>
          {% endif %}
        {% endfor %}
      </ul>
    </div>
  </nav>
</div>



{% schema %}
{
  "name": {
    "de": "Seitenleiste",
    "en": "Sidebar",
    "es": "Barra lateral",
    "fr": "Barre latérale",
    "it": "Sidebar",
    "ja": "サイドバー",
    "pt-BR": "Barra Lateral"
  },
  "settings": [
    {
      "type": "link_list",
      "id": "main_menu_link_list",
      "label": {
        "de": "Menü",
        "en": "Menu",
        "es": "Menú",
        "fr": "Menu",
        "it": "Menu",
        "ja": "メニュー",
        "pt-BR": "Menu"
      },
      "default": "main-menu"
    }
  ]
}
{% endschema %}
