{% if settings.switch-to-services == true %}
    {% assign theTitle = "services" %}
{% else %}
    {% assign theTitle = "prices" %}
{% endif %}

<!-- /templates/page.prices.liquid -->
 <div class="section prices">
    <div class="inner">
        <div class="page-title {{ theTitle }}-title">
            <h1>{{ theTitle}}</h1>
            <img src="{{ 'leaf-gallery.png' | asset_url }}">
            <div class="letters-atop">
                {% assign theTitle = theTitle | split: '' %}
                {% for letter in theTitle %}
                    <span>{{ letter }}</span>
                {% endfor %}
            </div>
        </div>
        <div class="page-title">
        </div>
    </div>
    <div class="menus">
        {% for article in blogs.menu.articles limit: 4 %}
            <div class="menu primary">
                <div class="text">
                    <div class="title">
                        <h2>{{article.title}}</h2>
                       {% if article.title != "Skin" %} <p>Check out <br />our <u><a href="/pages/gallery?first={{ article.title | downcase }}">{{article.title}} gallery.</a></u></p>{% endif %}
                    </div>
                    <div class="content">
                        {{article.content | replace: '$', '</br><b>$' | replace: '+', '+</b>'}}
                    </div>
                </div>
            </div>
        {% endfor %}
    </div>
</div>

<!--footer -->
  {% include 'testimonial-slider' %}
<!--end footer -->