<!-- /templates/page.team.liquid -->

<!-- team parsing -->
{% assign namess = '' %}
{% assign descriptions = '' %}
{% assign abilitiess = '' %}
{% assign pictures = '' %}
{% assign type = '' %}
{% for article in blogs.hair-stylist.articles %}
    {% assign names = names | append: article.title | append: "$$$" %}
    {% assign descriptions = descriptions | append: article.content | append: "$$$" %}
    {% assign source = article.image.src | img_url: '500x' %}
    {% assign pictures = pictures | append: source | append: "$$$" %}      
    {% for tag in article.tags %}
        {% assign abilities = abilities | append: tag | append: "," %}
    {% endfor %}
    {% assign abilities = abilities | append: "$$$" %}
    {% assign type = type | append: "hair" | append: "$$$" %}
{% endfor %}
{% for article in blogs.nail-tech.articles %}
    {% assign names = names | append: article.title | append: "$$$" %}
    {% assign descriptions = descriptions | append: article.content | append: "$$$" %}
    {% assign source = article.image.src | img_url: '500x' %}
    {% assign pictures = pictures | append: source | append: "$$$" %}      
    {% for tag in article.tags %}
        {% assign abilities = abilities | append: tag | append: "," %}
    {% endfor %}
    {% assign abilities = abilities | append: "$$$" %}
    {% assign type = type | append: "nails" | append: "$$$" %}
{% endfor %}
{% for article in blogs.esthetician.articles %}
    {% assign names = names | append: article.title | append: "$$$" %}
    {% assign descriptions = descriptions | append: article.content | append: "$$$" %}
    {% assign source = article.image.src | img_url: '500x' %}
    {% assign pictures = pictures | append: source | append: "$$$" %}      
    {% for tag in article.tags %}
        {% assign abilities = abilities | append: tag | append: "," %}
    {% endfor %}
    {% assign abilities = abilities | append: "$$$" %}
    {% assign type = type | append: "skin" | append: "$$$" %}
{% endfor %}
{% for article in blogs.lash-stylist.articles %}
    {% assign names = names | append: article.title | append: "$$$" %}
    {% assign descriptions = descriptions | append: article.content | append: "$$$" %}
    {% assign source = article.image.src | img_url: '200x' %}
    {% assign pictures = pictures | append: source | append: "$$$" %}      
    {% for tag in article.tags %}
        {% assign abilities = abilities | append: tag | append: "," %}
    {% endfor %}
    {% assign abilities = abilities | append: "$$$" %}
    {% assign type = type | append: "lashes" | append: "$$$" %}
{% endfor %}

{% assign names = names | split: "$$$" %}
{% assign descriptions = descriptions | split: "$$$" %}
{% assign pictures = pictures | split: "$$$" %}
{% assign abilities = abilities | split: "$$$" %}
{% assign type = type | split: "$$$" %}
<!-- end team parsing -->


 <div class="section team-header">
    <div class="inner">
        <div class="page-title">
            <img src="{{ 'title-team.png' | asset_url }}">
        </div>
        <div class="filters">
            <span class="filter" onclick="toggleEmployees('nails', this)">
                Nail Techs {% include 'icon-select' %}
            </span>
            <span class="filter" onclick="toggleEmployees('hair', this)">
                Hair Stylists {% include 'icon-select' %}
            </span>
            <span class="filter" onclick="toggleEmployees('lashes', this)">
                Lash Stylists {% include 'icon-select' %}
            </span>
            <span class="filter" onclick="toggleEmployees('skin', this)">
                Estheticians {% include 'icon-select' %}
            </span>
        </div>
    </div>
 </div>
      
{% for name in names %}
    <div class="section team-member">
        <div class="inner">  
            <div class="employee {{ type[forloop.index0] }}">
                <div class="text">
                    <h2>{{ name }}</h2>
                    <p>{{ descriptions[forloop.index0]}}</p>
                    {% for ability-list in abilities[forloop.index0] %}
                        {% assign this-ability-list = ability-list | split: "," %}
                        {% for ability in this-ability-list %}
                            <p class="ability bold">+{{ ability }}</p>
                        {% endfor %}
                    {% endfor %} 
                </div>
                <div class="background-image" style="background-image: url(' {{ pictures[forloop.index0] }}');"></div>
            </div>
        </div>
    </div>
{% endfor %}

<p class="hide empty-team-list bold">Please select a filter to view some team members.</p>

{% include 'text-image-block' with header:settings.global-1-header, paragraph:settings.global-1-paragraph, buttonText:settings.global-1-button-text, buttonDest:settings.global-1-button-dest, orientation: "reversed", image:settings.global-1-img %}  

 <script>
    function toggleEmployees( type, filter ){
        var cross = $(filter).find("#cross");
        var employees = $(".employee");
        var searchClass = cross.attr("class").split(' ');
        if ( searchClass[0] == "hide" ){
            cross[0].classList.remove("hide");
            $(filter).addClass('unselected');
            for ( var i = 0; i < $(employees).length; i++){
                if ( $(employees[i]).hasClass(type)){
                    $(employees[i]).addClass("hide")
                }
            }
        }
        else {
            
            cross[0].classList.add("hide");
            $(filter).removeClass('unselected');
            for ( var i = 0; i < $(employees).length; i++){
                if ( $(employees[i]).hasClass(type)){
                    $(employees[i]).removeClass("hide")
                }
            }
        }
        checkIfEmpty();
    }

    function checkIfEmpty(){
        var filters = $(".filters > .filter");
        var show = true;
        for ( var i = 0; i < filters.length; i++ ){
            console.log( filters[i] );
            if ( $(filters[i]).hasClass("unselected") != true ){
                show = false;
            }
        }
        console.log( show );
        if ( show == true ){
            $(".empty-team-list").removeClass("hide");
        }
        else {
            $(".empty-team-list").addClass("hide");
        }
    }
 </script>
